@use './colors' as colors;

@mixin burgerBtn{
    position: absolute;
    right: 0;
    height: 3px;
    content: '';
    background-color: colors.$pure-white;
    transition: width .3s;
}

@mixin heroImg($bgImg){
    background-image: colors.$blue-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}